.resa-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    text-align: center;
  }
  
  .resa-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .resa-section {
    margin-top: 15px;
  }
  
  .resa-btn {
    background-color: #d4af37;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .resa-btn.validate {
    background-color: #28a745;
  }
  
  .resa-date.selected {
    background-color: black;
    color: white;
  }
  
  .resa-time-input {
    border: 1px solid #ccc;
    padding: 5px;
    width: 40px;
    text-align: center;
    border-radius: 5px;
  }

  .choix-beneficiaire {
    display: flex;
    justify-content: space-between; /* Aligne horizontalement le compteur de personnes avec sur place et à emporter */
    
}
  