/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.Cgu-container {
  text-align: left;
}

.Cgu-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.Cgu-content h2 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 15px;
  color: #c4a037;
}

.Cgu-content p {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 8px;
  text-align: justify;
}

.btn {
  background-color: #c4a037;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.btn:hover {
  background-color: #b08f30;
}
